*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FAE1DD;
}
.nav-class{
    background-color:#FEC5BB;
    padding: 40px 100px 40px 100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    
}
.click{
    text-decoration: none;
}
.nav-class:hover{
    background:black;
}
.click:hover{
    color:black ;
    background-color:#FEC5BB;
    border: 2px solid #FEC5BB;
    font-size: 32px;
    text-decoration: none;
}
.sec1-rule{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
}
.div-sec1{
    display: flex;
    flex-direction: column;
    width:200px;
    background-color: #FEC89A;
    border: 2px solid #FEC89A;
    border-radius: 20px;
}
.sec2-rule{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:20px;
}
.div-sec2{
    display: flex;
    flex-direction: column;
    width:200px;
    background-color: #FEC89A;
    border: 2px solid y#FEC89A;
    border-radius: 20px;
}
.img-sec1{
    width: 60px;
    height: 60px;
    border: 2px solid #FEC89A;
    margin:auto;
    margin-top: 10px;
}
.div-sp{
    margin:auto;
    margin-top:20px;
    font-size:18px;

}
.more{
    
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration:none ; 
}
.more:hover{
    border:1px solid red;
    background-color: red;
    font-size: 18px;
    border-radius: 15%;
    
}
.more:visited{
    color:violet;
}
.table{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    width:1000px;
    height: auto;
    margin:auto;
    border-radius: 20px;
    
}
.col1-table{
    width: 200px;
    height: 100px;
    margin: auto;
    margin-top: 60px;
    margin-left:10px;
    margin-right: 20px;
    border: 1px solid white;
    border-right-color: black;
}
h3{
    margin: auto;
    margin-top:30px;
    margin-left: 100px;
}
.col2-table{
    width:800px;
    margin-top: 60px;
    margin-bottom: 60px;
}